# Obsidian device-specific
.obsidian/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/

# OS files
.DS_Store
Thumbs.db
/_attachments/大学课程笔记/UNIX环境高级编程第三版.pdf
/_attachments/大学课程笔记/UNIX环境高级编程第二版.pdf